{% extends "store/base.html" %}

{% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{ book.genre }}</dd>
    <dt>Author:</dt>
    <dd>{{ book.author }}</dd>
    <dt>Description:</dt>
    <dd>{{ book.description }}</dd>
    <dt>Your Rating:</dt>
	<dd><input type="number"  min="0" max="10" value="{{ rate }}" id="rate"><button class="btn btn-primary ml-3" onclick="rating({{ book.id }})">Rate</button></dd>
    <dt>MRP:</dt>
    <dd>Rs. {{ book.mrp }}</dd>
    <dt>Available Copies:</dt>
    <dd>{{ num_available }}</dd>
</dl>
<button class="btn btn-primary" id="loan-button">Loan {{ book.title }}</button>
<script>
$("#loan-button").click(function(){
    $.ajax({
		url: "{% url 'loan-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }}
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Book successfully issued");
                window.location.replace("/books/loaned");
			}
			else{
				alert("Sorry Book not available");
			}
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}

	})
})

function rating(bid){
	const rate = document.querySelector('#rate').value
	$.ajax({
		url: "{% url 'ratingsystem' %}",
		method: "POST",
		data: {
			bid: bid,
			rate: rate
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                window.location.reload();}
			else{
				alert("Please Login First");
			}
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}
	})
}
</script>
{% endblock %}